#body
button{
 width: 150px;
 height: 150px;
 border: none;
 position: absolute;
 font-size: 100px;
 color:white;
}
.clicked{
 background-color: gray;
}
.buttons{
 background-color: blue;
}
.buttons:HOVER {
 background-color: red;
}
#b11{
 top:25px;
 left:25px;
}
#b12{
 top:25px;
 left:200px;
}
#b13{
 top:25px;
 left:375px;
}
#b21{
 top:200px;
 left:25px;
}
#b22{
 top:200px;
 left:200px;
}
#b23{
 top:200px;
 left:375px;
}
#b31{
 top:375px;
 left:25px;
}
#b32{
 top:375px;
 left:200px;
}
#b33{
 top:375px;
 left:375px;
}